     :root {
            --light-blue: #e6f2ff;
            --soft-blue: #4888c8;
            --dark-blue: #0a3d62;
            --black: #000000;
            --white: #ffffff;
            --gray: #f5f5f5;
            --text-dark: #333333;
        }

     