.card-img-overlay::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5); /* Ajusta el 0.5 para más o menos oscuridad */
  z-index: 1;
}
.card-img-overlay > * {
  position: relative;
  z-index: 2;

}
