:root {
  --light-blue: #e6f2ff;
  --soft-blue: #4888c8;
  --dark-blue: #0a3d62;
  --black: #000000;
  --white: #ffffff;
  --gray:  #dfdfdf;
  --text-dark: #333333;
}
body {
  overflow-x: hidden;
  bg-body: var(--light-blue);
}
/*CLASES DE COLORES*/
.primary-color {
  color: var(--dark-blue);
}
.secondary-color {
  color: var(--soft-blue);
}
.bg-dark-white {
  background-color: var(--white) !important;
}
/*TEXTO*/
.lt {
  letter-spacing: 1px;
}
.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.fs-xl {
  font-size: 3em !important;
}
/*COLORES DE TEXTO*/
.text-dark-blue {
  color: var(--dark-blue) !important;
}
h1 {
  font-size: 2.5rem;
} /* 40px */
h2 {
  font-size: 2rem;
} /* 32px */
h3 {
  font-size: 1.5rem;
} /* 24px */
h4 {
  font-size: 1.25rem;
} /* 20px */
p {
  font-size: 1rem;
} /* 16px */
small {
  font-size: 0.875rem;
} /* 14px */
/*SOMBRAS*/
.shadow-1 {
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.47);
}


@media (max-width: 768px) {
  /* Estilos para tablets y móviles */
  .fs-xl {
    font-size: 1.2em !important;
  }
}
